<div class="share_controls">
	<div class="share_icons">
		<div class="share_icon">
			<%= link_to ("http://www.facebook.com/share.php?u=" + url_for(:controller => :posts, :action => :show, :id => post, :only_path => false)) do %>
				<%= image_tag 'facebook.png' %>
			<% end %>
		</div>
		<div class="share_icon">
			<%= link_to ("http://www.twitter.com/home/?status=" + url_for(:controller => :posts, :action => :show, :id => post, :only_path => false)) do %>
				<%= image_tag 'twitter.png' %>
			<% end %>
		</div>
	</div>
</div>