/*Colors*/
body, html {
  background: #333333 none repeat scroll 0 0; }

img {
  border: none; }

#header {
  height: 270px;
  border-bottom: 5px solid #eeeeee;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

#container {
  position: relative;
  display: block;
  background-color: #fff;
  width: 980px;
  margin: 0 auto 0 auto;
  border: 1px solid #000000;
  border-top: none; }

#top-nav {
  position: absolute;
  right: 50px; }

#main-nav {
  list-style: none outside none;
  display: block;
  font-family: serif; }
  #main-nav li {
    float: left;
    font-size: 1.1em;
    margin-left: 3px; }
    #main-nav li a {
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 5px;
      background: none repeat scroll 0 0 #eeeeee;
      color: #a6a6a6;
      display: block;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none; }
      #main-nav li a:hover {
        background-color: #F2F2F2;
        color: #8200a8; }

.images {
  margin-top: 20px; }

a {
  color: #8200a8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#inner-container {
  margin-left: 10px;
  width: 630px;
  float: left;
  min-height: 600px; }

#sidebar {
  float: right;
  width: 340px; }
  #sidebar #twitter_feed {
    position: relative;
    top: 50px;
    right: -75px; }

#footer {
  clear: both;
  height: 15px; }

.post, .comment, .comments-header, .page-header {
  color: #2d2618; }

#ajax-loader {
  position: relative;
  left: 200px;
  margin-bottom: 10px; }

#about {
  margin-bottom: 7px;
  font-family: serif;
  font-size: 18px;
  line-height: 1.5em; }
  #about h1, #about h2 {
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    color: #5a4c30;
    margin-top: 10px;
    margin-bottom: 10px; }
  #about ul {
    list-style-type: square; }
  #about ul, #about ol {
    margin-left: 40px; }

.post {
  color: #2d2618; }
  .post .title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif; }
    .post .title a {
      color: #2d2618;
      text-decoration: none; }
      .post .title a:hover {
        color: #8200a8; }
  .post .content {
    margin-bottom: 7px;
    font-family: serif;
    font-size: 18px;
    line-height: 1.5em; }
    .post .content h1, .post .content h2 {
      font-size: 22px;
      font-weight: bold;
      font-family: sans-serif;
      color: #5a4c30;
      margin-top: 10px;
      margin-bottom: 10px; }
    .post .content ul {
      list-style-type: square; }
    .post .content ul, .post .content ol {
      margin-left: 40px; }

#posts {
  margin-top: 25px; }
  #posts ul {
    list-style: none outside none; }
    #posts ul li {
      padding-bottom: 3px;
      padding-left: 2px;
      margin-bottom: 5px;
      border-bottom: 1px solid #D8D9DE; }
      #posts ul li .date {
        float: right; }

.entry {
  margin-bottom: 30px; }
  .entry .entry-comments {
    float: right;
    font-size: .8em;
    position: relative;
    top: -30px;
    left: -20px;
    display: inline; }
    .entry .entry-comments a {
      color: #a6a6a6; }
      .entry .entry-comments a:hover {
        color: #8200a8; }

div.share_controls {
  margin-top: 6px; }
  div.share_controls .twitter, div.share_controls .facebook {
    vertical-align: top;
    display: inline;
    cursor: pointer; }
  div.share_controls .share_icons {
    float: left; }
    div.share_controls .share_icons .share_icon {
      cursor: pointer;
      display: inline; }

.controls {
  display: inline; }

.rss_image {
  padding-left: 3px; }

.comments-header {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #a6a6a6; }

.comment {
  font-size: .8em;
  background-color: #eeeeee;
  padding: 5px;
  margin-bottom: 10px;
  min-height: 60px;
  line-height: 17px;
  border-top: 1px dotted #a6a6a6;
  border-bottom: 1px dotted #a6a6a6; }
  .comment .comment-container {
    display: table-cell;
    vertical-align: top; }
  .comment .gravatar {
    display: block;
    float: left;
    margin-right: 10px; }
  .comment .comment-content, .comment .comment-author {
    display: block;
    vertical-align: top;
    word-wrap: break-word; }
    .comment .comment-content p, .comment .comment-author p {
      margin-top: 0px; }
  .comment .comment-author {
    margin-top: 10px;
    margin-left: 20px; }
    .comment .comment-author .author {
      font-weight: bold; }

.reply {
  margin-top: 40px; }

div.reply-form dt {
  text-align: right;
  clear: left;
  float: left;
  width: 70px;
  margin-top: 7px; }
div.reply-form dt.text-area-label {
  float: none;
  text-align: left; }
div.reply-form dd.text-area-field {
  margin-left: 0px; }
div.reply-form dd {
  text-align: left;
  margin-left: 80px;
  margin-bottom: 10px; }
div.reply-form div.email-explanation {
  font-size: .8em;
  font-style: italic;
  margin-left: 80px;
  position: relative;
  top: -10px; }
div.reply-form span.comment_submit {
  margin-left: 80px; }

div.reply dd textarea {
  width: 400px; }

.date {
  color: #a6a6a6;
  font-size: .8em; }

.required {
  font-weight: bold; }
