/*Colors*/
$background_color: #333333;
$main_color: #2d2618;
$aux_color: #eee;
$link_color: #8200a8;

$page_width: 980px;

@mixin link_hover
{
	&:hover
	{
		color: $link_color;
	}
}

@mixin content
{
	margin-bottom: 7px;
	font-family: serif;
	font-size: 18px;
	line-height: 1.5em;
	
	h1, h2
	{
		font-size: 22px;
		font-weight: bold;
		font-family: sans-serif;
		color: $main_color*2;
		
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	ul
	{
		list-style-type: square;
	}
	
	ul, ol
	{
		margin-left: 40px;
	}
}

body, html
{
	background: $background_color none repeat scroll 0 0;
}

img
{
	border: none;
}

#header
{
	height: 270px;
	border-bottom: 5px solid $aux_color;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#container
{
	position: relative;
	display: block;
	background-color: #fff;
	width: $page_width;
	margin: 0 auto 0 auto;
	border: 1px solid #000000;
	border-top: none;
}

#top-nav
{
	position: absolute;
	right: 50px;
}

#main-nav
{
	list-style: none outside none;
	display: block;
	font-family: serif;
	
	li
	{
		float: left;
		font-size: 1.1em;
		margin-left: 3px;
		
		a
		{
			-moz-border-radius-bottomleft: 5px;
			-moz-border-radius-bottomright: 5px;
			background: none repeat scroll 0 0 $aux_color;
			color: $aux_color*.7;
			display: block;
			padding-left: 10px;
			padding-right: 10px;
			text-decoration: none;
			
			&:hover
			{
				background-color: #F2F2F2;
				color: $link_color;
			}
		}
	}
}

.images
{
	margin-top: 20px;
}

a
{
	color: $link_color;
	text-decoration: none;
	
	&:hover
	{
		text-decoration: underline;
	}
}

#inner-container
{
	margin-left: 10px;
	width: 630px;
	float: left;
	min-height: 800px;
}

#sidebar
{
	float: right;
	width: 340px;
	
	#twitter_feed
	{
		position: relative;
		top: 65px;
		right: -50px;
	}
	
	.name
	{
		position:relative;
		top:35px;
		right: -50px;
	}
	
	.apps
	{
		position: relative;
		top: 50px;
		right: -50px;
		
		.app
		{
			margin-left: 10px;
		}
	}
	
	.links
	{
		position:relative;
		right:-50px;
		top:70px;
	}
}

#footer
{
	clear: both;
	height: 15px;
}

.post, .comment, .comments-header, .page-header
{
	color: $main_color;
}

#ajax-loader
{
	position: relative;
	left: 200px;
	margin-bottom: 10px;
}

#about
{
	@include content;
}

.post
{	
	color: $main_color;
	
	
	.title
	{
		font-size: 32px;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 10px;
		font-family: sans-serif;
		
		a
		{
			color: $main_color;
			@include link_hover;
			text-decoration: none;
		}
	}
	
	.content
	{
		@include content;
	}
}

#posts
{
	margin-top: 25px;
	
	ul
	{
		list-style: none outside none;
		li
		{
			padding-bottom: 3px;
			padding-left: 2px;
			margin-bottom: 5px;
			border-bottom: 1px solid #D8D9DE;
			
			.title
			{
			}
			
			.date
			{
				float: right;
				
			}
		}
	}
}
.entry 
{		
	margin-bottom: 30px;
	.entry-comments
	{
		float: right;
		font-size: .8em;
		position: relative;
		top: -30px;
		left: -20px;
		
		a
		{
			color: $aux_color*.7;
			@include link_hover;
		}
		display: inline;
	}
}

div.share_controls
{
	margin-top: 6px;
	
	.twitter, .facebook
	{
		vertical-align: top;
		display: inline;
		cursor: pointer;
	}
	
	.share_icons
	{
		float: left;
		
		.share_icon
		{
			cursor: pointer;
			display:inline;
		}
	}
}

.controls
{
	display: inline;
}

.rss_image
{
	padding-left: 3px;	
}

.comments-header
{
	margin-top: 10px;
	margin-bottom: 10px;
	color: $aux_color*.7;
}

.comment
{
	font-size: .8em;
	background-color: $aux_color;
	padding: 5px;
	margin-bottom: 10px;
	min-height: 60px;
	line-height: 17px;
	border-top: 1px dotted $aux_color*.7;
	border-bottom: 1px dotted $aux_color*.7;
	
	.comment-container
	{
		display: table-cell;
		vertical-align: top;
	}
	
	.gravatar
	{
		display: block;
		float: left;
		margin-right: 10px;
	}
	
	.comment-content, .comment-author
	{
		display: block;
		vertical-align: top;
		word-wrap: break-word;
		
		p
		{
			margin-top: 0px;
		}
	}
	
	.comment-author
	{
		.author
		{
			font-weight: bold;
		}
		margin-top: 10px;
		margin-left: 20px;
	}
}

.reply
{
	margin-top: 40px;
}

div.reply-form 
{
	dt
	{
		text-align: right;
		clear: left;
		float: left;
		width: 70px;
		margin-top: 7px;
	}
	
	dt.text-area-label
	{
		float: none;
		text-align: left;
	}
	
	dd.text-area-field
	{
		margin-left: 0px;
	}
	
	dd
	{
		text-align: left;
		margin-left: 80px;
		margin-bottom: 10px;
	
	}
	
	div.email-explanation
	{
		font-size: .8em;
		font-style: italic;
		margin-left: 80px;
		position: relative;
		top: -10px;
	}
	
	span.comment_submit
	{
		margin-left: 80px;
	}
}

div.reply dd textarea
{
	width: 400px;
}

.date
{
	color: $aux_color*.7;
	font-size: .8em;
}

.required
{
	font-weight: bold;
}