<div class="entry">
	<h2 class="entry-title">
		<%= post.title %>
	</h2>
	<div class="entry-date">
		<%= post.created_at %>
	</div>
	<div class="entry-content">
		<%= post.content %>
	</div>
	<div class="entry-comments">
		<%= link_to ("Comments (" + post.comments.size.to_s + ")"), post_path(post) %>
	</div>
</div>