<% content_for :script do %>
	<%= javascript_include_tag 'endless-page' %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial=> "partials/sidebar"%>
<% end %>

<div id="posts">
	<%= render :partial => "entry", :collection => @posts, :locals => {:style_class => "entry"} %>
</div>

<%= paginate @posts %>