<% content_for :sidebar do %>
	<%= render :partial=> "partials/sidebar"%>
<% end %>

<div id="posts">
	<ul>
		<%= render :partial => "entry", :collection => @posts, :locals => {:style_class => "entry"} %>
	</ul>
</div>